.detailstudies-container {
    .DatePicker2 {
        display     : flex;
        padding-left: 10px;

        .child-date {
            padding-left: 31em;
            padding-bottom: 5px;
        }

        .child-date2 {
            padding-left: 32.1em;
            padding-bottom: 5px;
        }
    }
}